<nav id="menu">
    <script src="/js/menu.js"></script>
    <span class="title"><%- config.title %> </span>
    <% Object.keys(theme.menu).forEach(key => { %>
    <a href="<%=theme.menu[key].src%>">
        <span>
            <ion-icon name="<%=theme.menu[key].icon %>"></ion-icon>
        </span>
        <span><%=key%></span>
    </a>
    <% }); %>
</nav>