#archives
    position relative
    top 100px
    margin auto
    padding 20px

    a, .tag-icon
        color label-font
        text-decoration none

    .tags
        margin-left 20px

        .tag
            margin-right 10px

    h3
        margin 10px 0

    .item-time
        color label-font