#archives
    position relative
    top 120px
    margin auto

    a, .tag-icon
        color label-font
        text-decoration none

    .tags
        margin-left 20px

        .tag
            margin-right 10px

ion-icon
    position relative
    top 3px
    margin-right 5px