#archives
    position relative
    top 120px
    width 900px
    margin auto

    a, .tag-icon
        color #5c6b72
        text-decoration none

    .tags
        margin-left 20px

        .tag
            margin-right 10px

ion-icon
    position relative
    top 3px
    margin-right 5px