
@import './archives'

#categories
    position relative
    top 40px
    width 900px
    margin 80px auto 0

    .all-s
        padding 20px
        text-align center
        width 600px
        margin auto

        span
            display inline-block
            margin 20px

            a
                padding 10px 15px
                color white
                text-decoration none
                border-radius 10px
                transition all 0.5s

                &:hover
                    border #a5c2f5 1px solid
                    background white !important
                    color #5c6b72

#archives
    top 60px
