.categories-tags
    position relative
    top 100px
    margin auto

    .all-s
        text-align center
        max-width 900px
        width 90%
        margin auto

        span
            display inline-block
            margin 10px

            a
                padding 10px 15px
                color white
                text-decoration none
                border-radius 10px
                transition all 0.5s
                border #ffffff80 1px solid

                &:hover
                    border #a5c2f5 1px solid
                    background white !important
                    color label-font

                    .icon
                        color label-font

            .icon
                margin-left 0
                margin-right 10px
                color white

    #archives
        top 60px
