
@font-face
    font-family 'Mulish'
    src url('../fonts/Mulish.ttf')

@font-face
    font-family 'Hensa'
    src url('../fonts/Hensa.ttf')

body
    background body-background
    width 100%
    font-family 'Mulish', 'Microsoft YaHei', sans-serif

*
    margin 0
    padding 0
    word-break break-all
    word-wrap break-word

ul, ol
    margin 15px 0
    line-height 1.7

h3
    margin 15px 0

p
    margin 15px 0
    line-height 1.7

a
    text-decoration none