
@font-face
    font-family 'Mulish'
    src url('../css/fonts/Mulish.ttf')

@font-face
    font-family 'NotoSansJP-Bold'
    src url('../css/fonts/NotoSansJP-Bold.otf')

@font-face
    font-family 'NotoSansJP-Regular'
    src url('../css/fonts/NotoSansJP-Regular.otf')

body
    background body-background
    width 100%
    font-family 'NotoSansJP-Regular', 'Mulish', 'Microsoft YaHei', sans-serif

*
    margin 0
    padding 0
    word-wrap break-word

ul, ol
    margin-top 15px !important
    margin-bottom 10px !important
    line-height 1.7

    li
        margin 8px auto

h1, h2, h3, h4, h5
    margin 15px 0
    font-weight bold
    font-family 'NotoSansJP-Bold'
    color text-font

h1
    font-size 30px

h2
    font-size 27px

h3
    font-size 24px

h4
    font-size 21px

h5
    font-size 18px

p
    margin 15px 0
    line-height 1.7

a
    text-decoration none

.icon
    margin-right 5px
    color label-color

.ant-spin, .ant-spin-container
    height 100vh !important
    width 100vw !important
    display flex !important
    max-height 100vw !important
    align-items center
    text-align center

    div
        width 100vw

    .ant-spin-dot
        position relative !important
        top 0 !important
        left 0 !important
        text-align center
        width 100px
        display inline-block
        margin auto !important

.into-enter-active
    animation into 0.6s

.into-leave-active
    animation into 0.6s

@keyframes into
    0%
        opacity 0
        transform scale(1.1)

    100%
        opacity 1
        transform scale(1)
