footer
    position relative
    z-index 103
    width 100%
    text-align center
    top 150px

    .footer-wrap
        border-top 1px solid #aaaaaa
        width 900px
        margin auto
        color #5c6b72

        div
            margin 15px

        a
            text-decoration none
            color #66afef