menu-default-background = #92cafa
menu-default-font = #555
menu-index-background = #00000033
menu-index-font = white
body-background = #f6f8fa
side-card-avatar = #f1f1f1
side-card-button = linear-gradient(120deg, #96ceff 0, #ff9edb 100%)
posts-title = #66afef
text-font = #1e3e3f
label-font = #5c6b72
default-link = #66afef
th-font = text-font
th-color-sing = #a3ddfb
th-color-dual = #a3ddfb
td-color-sing = #d9e8ff4d
td-color-dual = #c7e0fb4d
go-post = linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #da0a51
page-index-active = menu-default-background
code-font = #4b616b
code-background = #bddcf76b
code-tag = linear-gradient(to right, #ed6ea0 0, #ec8c69 100%)
code-tag-shadow = #ed6ea14d
footer-line = #aaa
scrollbar-track-background = #cedcf580
scrollbar-thumb = #02b0c7
default-font-family = Kosugi
code-font-family = CascadiaCode