@media (min-width 900px)
    #menu
        .desktop-menu
            display block

        .phone-menu
            display none

    #home-head
        .home-info
            width 500px
            height 500px

            .loop
                position absolute
                width 500px
                height 500px
                display inline-block

            .info
                width 500px
                height 500px

                .wrap
                    padding 25px

                    h1
                        font-size 52px
                        font-weight bold
                        font-family default-font-family
                        margin-bottom 10px

                    h3
                        font-size 24px
                        margin 10px 0

                    h5
                        font-size 16px
                        margin 20px 0

    ul, ol
        padding-left 40px

    #home-posts-wrap
        max-width 1300px
        min-width 900px
        padding 30px 0

    .home-posts-wrap-no-card
        max-width 900px !important

    #home-posts
        width 800px
        margin-left auto
        margin-right 50px

        .post
            padding 50px 50px
            margin 25px 0

            .excerpt
                padding 20px 0

    #home-card
        margin-right auto

    .article
        width 900px

    .content
        .language
            right 80px

    #archives, .categories-tags
        width 900px

    footer
        .footer-wrap
            width 900px

@media (min-width 900px) and (max-width 1200px)
    #home-posts-wrap
        width 900px
        padding 30px 0

    #home-posts
        width 800px
        margin auto

    #home-card
        display none

@media (max-width 900px)
    #menu
        .desktop-menu
            display none

        .phone-menu
            display block

    #home-head
        .home-info
            width 350px
            height 350px

            .loop
                position absolute
                width 350px
                height 350px
                display none

            .info
                display flex
                justify-content center
                align-items center
                margin auto
                width 350px
                height 350px
                background #ffffffa6
                padding 25px

                .wrap
                    padding 25px

                    h1
                        font-size 46px
                        font-weight bold
                        font-family default-font-family
                        margin-bottom 10px

                    h3
                        font-size 20px
                        margin 10px 0

                    h5
                        font-size 14px
                        margin 20px 0

    ul, ol
        padding-left 20px

    .el-timeline
        padding-left 0

        .el-timeline-item__wrapper
            padding-left 18px

            .el-card__body
                padding 10px 20px

    #home-posts-wrap
        padding 20px 0
        width 95%

    #home-card
        display none

    #home-posts
        margin auto
        width 100%

        .post
            padding 20px 30px
            margin 30px 0

            .excerpt
                padding 20px 0

    .article
        width 85%

    .content
        .language
            right 10%

    #archives, .categories-tags
        width 90%

    footer
        .footer-wrap
            width 100%