
menu-default-background = white
menu-default-font = #fe8ea299
menu-index-background = #00000033
menu-index-font = white
body-background = #f6f8fa
side-card-avatar = #fe8ea22e
side-card-button = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
posts-title =  #ff728bcc
text-font = #000000a6
label-font = #9E9E9E
default-link = #ff728bcc
go-post = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #fe8ea299
page-index-active = menu-default-background
code-font = #4b616b
code-background = #ffdcf266
code-tag = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
code-tag-shadow = #ff7db14d
footer-line = #aaa
scrollbar-track-background = white
scrollbar-thumb = #cedcf5