
menu-default-background = white
menu-default-font = #fe8ea2cc
menu-index-background = #ffffff80
menu-index-font = #ff788f
body-background = #f6f8fa
side-card-avatar = #fe8ea22e
side-card-button = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
posts-title = #ff728bcc
text-font = #000000a6
label-font = #9E9E9E
default-link = #ff728bcc
th-font = white
th-color-sing = #ff728bcc
th-color-dual = #ff728bcc
td-color-sing = #ffd9e54d
td-color-dual = #fbc7d84d
go-post = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #fe8ea299
page-index-active = menu-default-background
code-font = #4b616b
code-background = #ffdcf266
code-tag = linear-gradient(120deg, #febbc7 0%, #ffb5de 100%)
code-tag-shadow = #ff7db14d
footer-line = #aaa
scrollbar-track-background = none
scrollbar-thumb = #ffa2b280
default-font-family = Kosugi
code-font-family = CascadiaCode