menu-default-background = linear-gradient(to right, #ff99c8 0%, #ff97cf 19%, #ffa2ab 60%, #ffa491 100%)
menu-default-font = #ffffff
menu-index-background = none
menu-index-font = white
body-background = #f6f8fa
side-card-button = linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%)
posts-title = #feb0be
text-font = #000000a6
label-font = #9E9E9E
default-link = #feb0be
go-post = linear-gradient(120deg, #fad0c4 0%, #ffd1ff 100%)
go-post-shadow = #ffbbf47a
go-post-shadow-hover = #9abbf77a
current-color = #da0a51
page-index-active = menu-default-background
code-font = #4b616b
code-background = #bddcf76b
code-tag = linear-gradient(to right, #fbc2eb 0%, #bbd4ff 100%)
code-tag-shadow = #ff7db14d
footer-line = #aaa
scrollbar-track-background = white
scrollbar-thumb = #cedcf5