@font-face
    font-family 'Mulish'
    src url('../fonts/Mulish.ttf')

@font-face
    font-family 'Hensa'
    src url('../fonts/Hensa.ttf')

body
    background #f6f8fa
    width 100vw

*
    margin 0
    padding 0
    font-family 'Mulish', 'Microsoft YaHei', sans-serif
    word-break break-all
    word-wrap break-word

h3
    margin 15px 0

p
    margin 15px 0
    line-height 1.7

@import './index'
@import './particle'
@import './menu'
@import './post'
@import './footer'