
#menu
    z-index 103
    position fixed
    width 100%
    height 50px
    line-height 50px
    padding 10px 0
    font-weight bold
    top 0px
    transition top 0.5s ease-out
    background menu-default-background

    .desktop-menu
        .title
            display inline-block
            margin-left 80px
            margin-right 20px
            font-family 'Hensa'
            text-transform uppercase
            color menu-default-font

        a
            display inline-block
            margin-left 30px
            text-decoration none
            color menu-default-font

            span
                display inline-block
                position relative

                img
                    position relative
                    top 3px
                    width 20px
                    height 20px

                &:nth-child(1)
                    margin-right 5px

.hidden-menu
    top -70px !important

.menu-color
    background menu-index-background !important

    .title, a
        color menu-index-font !important
