menu-default-background = #24292e
menu-default-font = #fff
menu-index-background = #00000033
menu-index-font = white
body-background = #f6f8fa
side-card-avatar = #cdcdcd
side-card-button = menu-default-background
posts-title = black
text-font = #24292e
label-font = #5c6b72
default-link = #5299bc
th-font = white
th-color-sing = menu-default-background
th-color-dual = menu-default-background
td-color-sing = #e5e8ef4d
td-color-dual = #e1e5ec80
go-post = #24292e
go-post-shadow = #24292e80
go-post-shadow-hover = #24292e80
current-color = #4387c1
page-index-active = menu-default-background
code-font = #4b616b
code-background = #88aac866
code-tag = #5c6b72
code-tag-shadow = #ed6ea14d
footer-line = #aaa
scrollbar-track-background = none
scrollbar-thumb = #5c6b72
default-font-family = Kosugi
code-font-family = CascadiaCode