
.content
    pre
        background rgba(212, 235, 255, 0.161)
        box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.1)
        border 1px solid #ebeef5
        padding 20px 30px
        margin 16px 0
        border-radius 15px
        overflow auto
        color #4d4d4c

    ul
        padding-left 40px

    h1, h2, h3, h4, h5
        text-align left !important
        margin 18px 0

    .hljs
        background none