#menu
    background linear-gradient(120deg, #9fddfb 0, #ffdbef 100%) !important

    .title, a
        color #666 !important

.article
    width 900px
    margin auto
    position relative
    top 120px

    h1
        font-weight bolder
        margin 20px 0

    .info
        a
            color #5c6b72
            text-decoration none

        ion-icon
            position relative
            top 3px
            margin-right 5px

        .date, .category, .tags
            color #5c6b72
            display inline-block
            margin-right 20px

        .tag-icon
            color #5c6b72

    .content
        margin 50px 0

body
    background #ffffff

#footer
    top 150px