
.article
    margin auto
    position relative
    top 100px
    color text-font
    padding 20px
    font-size 15px

    h1
        font-weight bolder
        margin 20px 0

    .info
        a
            color #5c6b72
            text-decoration none

        .date, .category, .tags
            color #5c6b72
            display inline-block
            margin-right 20px

            .tag
                margin-right 10px

    .content
        margin 50px 0
