::-webkit-scrollbar
    width 8px
    height 8px

::-webkit-scrollbar-track
    background scrollbar-track-background
    border-radius 10px

::-webkit-scrollbar-thumb
    background scrollbar-thumb
    border-radius 10px